<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-backend-web-development-flaticons-flat-flat-icons.png">
<title>Flask Backend for Bathroom Finder</title>
</head>
<body>
    <h1>This is the Flask backend for the Bathroom Finder application</h1>
</body>
</html>